<table class="table">
    <thead>
      <tr>
        <th>{{ "Num." | titlecase }}</th>
        <th>{{'first name' | titlecase}}</th>
        <th>{{'last name' | titlecase}}</th>
        <th>{{'phone' | titlecase}}</th>
        <th>{{'email' | titlecase}}</th>
        <th>{{'edit' | titlecase}}</th>
        <th>{{'delete' | titlecase}}</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="odd ? 'alert-success' : 'bg-light'" *ngFor="let customer of customers; index as i; odd as odd"
        [routerLink]="['customer-details', customer.id]" role="button">
        <td>{{ i + 1 }}</td>
        <td>{{ customer.firstName | textCapital }}</td>
        <td>{{ customer.lastName | textCapital }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td><a class="btn btn-outline-dark" [routerLink]="['edit-customer', customer.id]" role="button">
            <i class="fa-solid fa-pen-to-square"></i>
          </a></td>
        <td><button class="btn btn-outline-dark" (click)="deleteCustomer($event, customer.id!)"><i
              class="fas fa-trash"></i></button></td>
      </tr>
    </tbody>
  </table>