<page-header title="customers" subtitle="this is the customers page" icon="fas fa-users"></page-header>

<div class="d-flex justify-content-between">
  <div class="m-2">
    <a routerLink="new-customer" class="btn  btn-outline-success">{{'add customer +' | titlecase}}</a>
  </div>

  <display-mode-controllers [controllers]="controllers" (onChangeDisplay)="onChangeDisplay($event)">
  </display-mode-controllers>
</div>

<search-bar *ngIf="customers && customers.length" [categories]="categories" [array]="customersRowData" (arrayFiltered)="onSearch($event)"></search-bar>

<div *ngIf="customers && customers.length; else noCustomers">
  <customer-table *ngIf="display === 'table'" [customers]="customers"></customer-table>

  <customers-folder *ngIf="display === 'folder'" [customers]="customers"></customers-folder>
</div>

<ng-template #noCustomers>
  <div class="p-2">
    {{ "no Customers where found in the database" | textCapital }}
  </div>
</ng-template>