<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <logo-component></logo-component>
      <hamburger-component></hamburger-component>
      <div class="collapse navbar-collapse" id="navbarsExample05">
        <div class="justify-content-between d-flex col-12">
          <div>
            <left-menu></left-menu>
          </div>
          <div class="text-light">
            <right-menu></right-menu>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
  