<page-header title="contact details" subtitle="all details for contact" icon="fas fa-user-plus">
</page-header>

<div class="m-2">
    <a routerLink="/contacts" class="btn btn-outline-success"><i class="fa fa-arrow-alt-circle-left"></i>{{' back ' | titlecase}}</a>
</div>


<div *ngIf="contact; else nocontact">
    <div class="h1 text-center">{{contact.firstName | textCapital}} {{contact.lastName | textCapital}}</div>
<div class="table w-75 m-auto">
<div class="row">{{'email: ' | textCapital}} {{contact.eMail | textCapital}}</div>
<div class="row">{{'phone: ' | textCapital}} {{contact.phone | textCapital}}</div>
<div class="row">{{'age: ' | textCapital}} {{contact.age.toString()| textCapital}}</div>
<div class="row">{{'birthDay: ' | textCapital}} {{contact.birthDay.toString()| textCapital}}</div>
<div *ngIf="contact.address" class="row">{{'country: ' | textCapital}} {{contact.address.country | textCapital}}</div>
</div>
</div>


<ng-template #nocontact>לא נמצאו נתונים</ng-template>