<div *ngIf="categories.length" class="input-group col-12 m-2 my-3">
    <div class="input-group-append">

        <select (change)="onCategoryChange($event)" [value]="category.value" id="" class="form-control p-2">
            <option *ngFor="let category of categories" [value]="category.value">{{category.name | titlecase}}</option>
        </select>
        
    </div>

    <input type="search" name="" id="" class="form-control ms-2 me-2" [placeholder]="placeHolderText" (input)="onSearch($event)">
</div>