<page-header title="contacts" subtitle="Lists of contacts" icon="fas fa-users"></page-header>
<div class="m-2">
  <a routerLink="newcontact" class="btn btn-outline-success">{{'add contact +' | titlecase}}</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th>{{ "ID" | titlecase }}</th>
      <th>{{ "Full Name" | titlecase }}</th>
      <th>{{ "Phone Number" | titlecase }}</th>
      <th>{{ "eMail Address" | titlecase }}</th>
      <th>{{ "edit" | titlecase }}</th>
      <th>{{ "delete" | titlecase }}</th>
    </tr>
  </thead>
  <tbody>
  <tr  *ngIf="contacts.length; else noContancts"></tr>

  <tr [ngClass]="odd ? 'bg-gray' : 'bg-light'" *ngFor="let contact of contacts; index as i; odd as odd" [routerLink]="['contact-details',contact.id]">
    <td>{{ contact.id }}</td>
    <td>{{ contact.firstName + " " + contact.lastName }} </td>
    <td>{{ contact.phone }}</td>
    <td>{{ contact.eMail }}</td>
    <td><button class="btn btn-warning"><i class="fa fa-pencil"></i></button></td>
    <td><button class="btn btn-danger" (click)="deletecustomer($event,contact.id!)"><i class="fa fa-trash"></i></button>
    </td>

  </tr>
</tbody>
</table>

<ng-template #noContancts>
  <td class="text-center" colspan="6">{{ 'no contacts found' | titlecase }}</td>
</ng-template>
