<!-- *ngIf="contacts.length; else noContancts" -->
<table class="table">
    <thead>
      <tr>
        <th>{{ 'id' | textCapital }}</th>
        <th>{{ 'first Name' | textCapital }}</th>
        <th>{{ 'last Name' | textCapital }}</th>
        <th>{{ 'Phone Number' | textCapital }}</th>
        <th>{{ 'eMail Address' | textCapital }}</th>
        <th>{{ 'edit' | textCapital }}</th>
        <th>{{ 'delete' | textCapital }}</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let contact of contacts; index as i; odd as odd" [ngClass]="odd ? 'alert-success' : 'bg-light'"
        [routerLink]="['contact-details', contact.id]" role="button">
        <td>{{ contact.id }}</td>
        <td>{{ contact.firstName}} </td>
        <td>{{ contact.lastName }} </td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.eMail }}</td>
        <td><a class="btn btn-outline-dark" [routerLink]="['edit-contact', contact.id]" role="button">
            <i class="fa-solid fa-pen-to-square"></i>
          </a></td>
        <td><button class="btn btn-outline-dark" (click)="deleteContact($event, contact.id!)"><i
              class="fas fa-trash"></i></button></td>
      </tr>
    </tbody>
  
  
  </table>
  