<div class="center mt-4">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-12 col-md-6 col-xl-4 p-4 alert-success rounded">
        <div class="form-group mb-2">
            <label for="email">{{ "email" | titlecase }}</label>
            <input ngModel id="email" name="email" type="email" class="form-control" autocomplete="off" placeholder="user@domain.com" required pattern=".+@.+\..{2,}" #email="ngModel" [ngClass]="{'is-invalid':email.invalid && email.touched, 'is-valid':email.valid && email.touched}">
            <span class="invalid-feedback">{{ 'Please enter a valid email' | textCapital }}</span>
        </div>

        <div class="form-group mb-2">
            <label for="password">{{ "password" | titlecase }}</label>
            <input ngModel id="password" name="password" type="password" class="form-control" autocomplete="off" required minlength="6" #password="ngModel" [ngClass]="{'is-invalid':password.invalid && password.touched, 'is-valid':password.valid && password.touched}">
            <span class="invalid-feedback">{{ 'Please enter a valid password' | textCapital }}</span>
        </div>

        <div>
            <button type="submit" class="btn btn-success col-12 mb-2" [disabled]="loginForm.invalid">{{ "login" | titlecase }}</button>
            <input type="button" (click)="resetForm(loginForm)" class="btn btn-danger col-12 mb-2" value="Reset"/>
        </div>
    </form>
</div>